*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.subscription-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 2rem 1.2rem rgba(0, 0, 0, 0.15);
}

.subscription-form__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.subscription-form__label {
  position: relative;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.subscription-form__input {
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  width: 20rem;
  height: 3rem;
  background-color: #eeeeee;
  color: #000;
}

.subscription-form__result-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-y: hidden;
}

.btn {
  border: none;
  outline: none;
  padding: 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.subscription-form__modal_error {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: 0.2rem;
  color: #cf0000;
}

.subscription-form__text_success,
.subscription-form__text_error {
  position: absolute;
  top: 6.5rem;
  text-align: center;
}

.subscription-form__text_success {
  color: #1ba000;
}

.subscription-form__text_error {
  color: #cf0000;
}

.btn:hover {
  background-color: #ccc;
}
